

/*use will-change maybe, try some tests
transform instead of top left, try*/
html, body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}

body {

}

h1, h2 {
 margin: 0;
 padding: 0.6em;
 
}


table {
	/*font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;*/
	min-width: 100%;
	background: #fff;
	border-collapse: collapse;
	text-align: left;
}

table > caption {
   
	min-width: 100%;
	text-align: center;
	font-size: 24px;
	text-transform: uppercase;
	background: #111;
	color: #eee;
}

th {
	padding: 7px;
	border-bottom: 2px solid #6678b1;
	font-size: 14px;
	font-weight: normal;
	color: #001256;
}

td {
	border-bottom: 1px solid #ccc;
	padding: 5px;
	color: #4a4b6f;
}

p {
  font-size: 1.1em;
}
