* {
  box-sizing: border-box;
}

nav a {
  font-size: 1.4em;
  
}

nav > ul > li {
  list-style-type: disclosure-closed;
  margin: 0;
}

nav > ul > li > a {
  display: inline-block;
  width: 100%;
  padding: 10px;
}
nav > ul > li > a:hover {
  color: #3423ef;
}


kbd {
  display: inline-block;
  margin: 2px;
  border-radius: 5px;
  border: 2px #06010b solid;
  padding: 5px;
  font-size: 1.18em;
  color: #fffef0;
  background-color: #06010b;
}

dt {
  font-size: 1.22em;
  font-weight: bold;
}

img {
  max-width: 100%;
  max-height: 100%;
}