/* imports, to be used with parcel build tool
using https://github.com/postcss/postcss#usage
waiting for https://github.com/parcel-bundler/parcel/issues/292*/
@import './polyfill.css';
@import '../node_modules/dom99/components/yesNoDialog/yesNoDialog.css';
@import './baseline.css';
@import './menus.css';
@import './notification.css';
@import './multipleInputsMenu.css';
/*  game UI */


body.paused * {
  /* stop all animation by setting the body class to paused
  by default animation also sets animation-play-state, overwritten with important*/
    animation-play-state: paused !important;
}

#game-paused {
  /* to avoid a bug where pressing pause (touchstart)
  and resume (touchend) is possible */
  margin-bottom: 2em;
  margin-bottom: 20vh;
}

body:not(.paused),
.playground {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -ms-touch-action: none;
  touch-action: none;
}

.playground {
  height:100%;

  outline: 0;
   /* not low */
   background-color: #34469a;
   background-image: linear-gradient(180deg, #334353 , #3449fa);
}

.low .playground {
   background: #34469a none;
}

.gridc {
   position: fixed;
   z-index:10;
   width: 300px;
   height:300px;
   width:100%;
   height:100%;
   outline: 0;
}

.topbar {
   position: fixed;
   z-index:8;
   background-color:#ccccfc;
   height:25px;
}

.maintext {
   position: fixed;
   z-index:8;
   top: 14%;
   left:2%;
   max-width: 60%;
   min-width: 300px;
   font-size: 1.2em;
   color: #ddd;
}

/* in game */
/*could refactor with, potentially makes runtime slower
as 1 more string to process*/
/*.unit {
   position: fixed;
   z-index:9;
}*/

.player {
   position: fixed;
   z-index: 9;
   height:25px;
   width:25px;
   will-change: top, left;

   /* not low */
   background-image: url('../images/player-2.svg');
   background-repeat: no-repeat;
}

.low .player {
   background:#ce5467 none;
}

.shield {
  position: absolute;
  left: -28px;
  top: -10px;
  background-color: #fff;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  opacity: 0.5;
  will-change: opacity, background-color;
}

.shield.urgence-shield {
  background-color: #de94a8;
  opacity: 0.76;
}

.wallbomb {
   position: fixed;
   z-index:9;
   background-color:#ccc;
   height:20px;
   width:100%;
   left: 0;
   will-change: top;

}
.wallshooter {
   position: fixed;
   z-index:9;
   background-color:#ce2267;
   height:50px;
   width:50px;

}

.enemy-simple {
   position: fixed;
   z-index:9;
   height:25px;
   width:25px;

   /* not low */
   background-image: url('../images/enemy-simple.svg');
   background-repeat: no-repeat;
}

.low .enemy-simple {
   background:#ce2267 none;
}

.enemy-diagonale {
   position: fixed;
   z-index:9;
   height:25px;
   width:25px;
   will-change: top, left;

   /* not low */
   background-image: url('../images/enemy-diagonale.svg');
   background-repeat: no-repeat;
}

.low .enemy-diagonale {
   background:#ce7788 none;
}


.enemy-rotator {
   position: fixed;
   z-index:9;
   width: 30px;
   height: 20px;
   will-change: top, left;

   /* not low */
   background-image: url('../images/rotator.svg');
   background-repeat: no-repeat;
}

.low .enemy-rotator {
   background:#be7688 none;
}

.explosion-launcher {
   position: fixed;
   z-index:9;
   width: 40px;
   height: 40px;
   will-change: top, left;

   /* not low */
   background-image: url('../images/explosion-launcher.svg');
   background-repeat: no-repeat;
}

.low .explosion-launcher {
   background:#be7688 none;
}

.boss-targeter {
   position: fixed;
   z-index:9;
   width:40px;
   height:40px;
   will-change: top, left;

   /* not low */
   background-image: url('../images/boss-targeter.svg');
   background-repeat: no-repeat;
}

.low .boss-targeter {
   background:#dea023 none;
}

.bomb1 {
   position: fixed;
   z-index:9;
   width:5px;
   height:18px;
   will-change: top, left;

   /* not low */
   background-image: url('../images/missile-3.svg');
   background-repeat: no-repeat;
}

.low .bomb1 {
   background:#eee none;
}

.bomb {
   position: fixed;
   z-index:9;
   width:5px;
   height:20px;
   will-change: top, left;

   /* not low */
   background-image: url('../images/missile.svg');
   background-repeat: no-repeat;
}

.low .bomb {
   background:#eee none;
}

.diagonale-bomb {
   position: fixed;
   z-index:9;
   width:5px;
   height:20px;
   will-change: top, left;

   /* not low */
   background-image: url('../images/diagonale-bomb.svg');
   background-repeat: no-repeat;
}

.low .bomb {
   background:#ddd none;
}

.drone-missile {
   position: fixed;
   z-index:9;
   width: 16px;
   height: 16px;
   will-change: top, left;

   /* not low */
   background-image: url('../images/drone-missile.svg');
   background-repeat: no-repeat;
}

.low .drone-missile {
   background:#d07880 none;
}

.explosion-capsule {
   position: fixed;
   z-index:9;
   width: 16px;
   height: 16px;
   will-change: top, left;

   /* not low */
   background-image: url('../images/explosion-capsule.svg');
   background-repeat: no-repeat;
}

.low .explosion-capsule {
   background:#d07880 none;
}

.explosion-debris {
   position: fixed;
   z-index:9;
   width: 16px;
   height: 16px;
   will-change: top, left;

   /* not low */
   background-image: url('../images/explosion-debris.svg');
   background-repeat: no-repeat;
}

.low .explosion-debris {
   background:#d07880 none;
}

.shielder {
   position: fixed;
   z-index:11;
   top: 100%;
   width: 14px;
   height: 14px;
   border-radius: 2%;
   background-color:#ee1111;
   will-change: top, left;
}

.shielder.active {
   animation: shielderanimation 1.4s ease 0s;
   top: 50%; /* or use animation forward*/
}

@keyframes shielderanimation {
    0% {
      top:100%;
    }
    35%{
      top:50%;
    }
    70% {
      top:50%;
    }
    100% {
      top:50%;
    }
}

.shielderlaser {
   position: absolute;
   transform-origin: 0 100%;
   background-color:#ee1111;
   height: 2px;
   /*width: 1px; changed with js*/
   left:7px;
   top:7px;
   will-change: width, transform;
}

.low .hurt {
  background-color:#fe0809;
}
.targeted {
  border: 2px solid #ff0000;
}

.wipeboard {
   position: fixed;
   z-index:8;
   background-color:#220012;
   top: 100%;
   width: 6px;
   height: 6px;
   left: 50%;
   border-radius: 50%;
}
.wipeboard.active {
   animation: wipeboardanimation 1.4s ease 0s 1 alternate;
}

@keyframes wipeboardanimation {
    0% {
      top:100%;
      background-color:#220012;
    }
    35%{
      transform: scale(1);
      top:50%;
      background-color:#220012;
    }
    70%{
      background-color:#993222;
    }
    100%{
      transform: scale(500);
      background-color:#eecebc;
    }
}

.swipe {
   position: fixed;
   z-index:11;
   background-color:#840396;
   width: 2000%;
   height: 3%;
   bottom: -3%;
}

.leftswipe {
   right:53%;
   transform-origin: 100% 0 0;
}
.leftswipe.active {
   animation: swipingleft 0.4s ease 0s 2 alternate;
}

@keyframes swipingleft {
    0% {transform: rotate(0deg);}
    100%{transform: rotate(90deg);}
}

.rightswipe {
   left:47%;
   transform-origin: 0 0 0;
}

.rightswipe.active {
   animation: swipingright 0.4s ease 0s 2 alternate;
}

@keyframes swipingright {
    0% {transform: rotate(0deg);}
    100%{transform: rotate(-90deg);}
}

.g1, .g2, .g3, .g4, .g5, .g6, .g7, .g8, .g9  {
   position: relative;
   z-index:11;
   background-color: #ff3422;
   width: 33.3333%;
   height : 33.3333%;
   float: left;
   opacity: 0;
}

/* or .highlight only*/
.g1.highlight, .g2.highlight, .g3.highlight, .g4.highlight, .g5.highlight, .g6.highlight, .g7.highlight, .g8.highlight, .g9.highlight   {
  animation: blinklight 0.8s ease 0s infinite normal;
}

 @keyframes blinklight {
    0% {opacity: 0;}
    100% {opacity: 0.76;}
}


.preloader {
  position: fixed;
  left: -9999999px;
}

.preloader > * {
  position: static;
}
