

/*button::-moz-focus-inner {
  border: 0;
}*/

body {
   /* not low */
   background-color: #fad420;
   background-image: linear-gradient(to left, #fe4050 , #fad420);
}

.low {
   background: #fa9320 none;
}

h1 > a {
  color: blue;
  text-decoration: none;
}

h1 > a:hover,
h1 > a:focus {
  color: green;
  text-decoration: underline;
}

select {
  margin: 2px;
  padding: 16px;
}

.menu {
   padding: 14px;
   padding-top: 0;
   padding-bottom: 0;
   min-height: 100%;

}

body.menu {
   /* used int the other htmls*/
   width: unset;
}


.menu > button,
.menu > label,
.menu-center {
   display: block;
   margin: auto;
   padding: 1em;
   width: 80%;
   text-align: center;
}

progress.menu-center {
   padding-left: 0;
   padding-right: 0;
}

.menu > button:last-of-type {
    margin-bottom: 28px;
}

.menu .space-above {
   margin-top: 0.2em;
   margin-top: 2vh;
}

.menu > button:enabled:hover,
.menu > button:enabled:focus,
select:focus {
    background-color: #8be49c;
}

a.menu-center {
  border: 2px black solid;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: #b1b6b2;
}

a.menu-center:hover,
a.menu-center:focus {
  background-color: #918692;
}

.danger {
    border: 4px solid red;
    background-color: #fef1f4;
}

.menu > label {
  border: 1px black solid;
  padding-left: 0;
  padding-right:0;
}
.menu > label:hover {
   background-color: #aaa;
}
.menu > label > input:focus + span {
   background-color: #ffaa;
}
