
.left {
  float:left; 
  width: 50%;
  min-height: 300px;
  background-color: #bbecea;
}

.right {
  float: right;
  width: 50%;
  min-height: 300px;
  background-color: #ecbbea;
}

.clear {
  clear: both;
}
