.fixed-notification {
  display: block;
  position: fixed;
  right: 1em;
  top: 1em;
  opacity: 1;
  transition: opacity 6s;
}

.fixed-notification[hidden] {
  display: block !important;
  opacity: 0;

}

.fixed-notification > p {
  color: #ddd;
  font-style: italic;
}