
[hidden], template {
  display: none !important;
}

button {
  /* removes the 300ms delay on button
  danger: this also removes the double tap to zoom */
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}